{
  "extends": [
    "transloadit"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
  }
}
