_jekyll/.ruby-version
_jekyll/bin/*
_jekyll/Gemfile.hash
_jekyll/Gemfile.lock
_jekyll/share/*
_jekyll/src
_jekyll/tmp/
_jekyll/vendor/
_jekyll/wget-log
.grunt
.jekyll-cache/
.lanyon
.lanyon/bin
.lock-wscript
.node_repl_history
.npm
.nyc_output
*.log
*.pid
*.seed
assets/build
build/Release
coverage
deps/
env.sh
example/_site/
example/.jekyll-metadata
example/.lanyon/
example/assets/build/
jspm_packages
lib-cov
logs
node_modules
npm-debug.log*
pids
test.js
website/_site/
website/.jekyll-metadata
website/.lanyon/
website/assets/build/
website/changelog.md
website/contributing.md
website/faq.md
website/index.md
_jekyll/.bundle/config
